@model IEnumerable<ContosoUniversity.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@*NOTE: This code below simply creates the outline of the search textbox and submit button. *@
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

<table class="table">

    <tr>
        @*NOTE: This code uses the information in the ViewBag properties to set up hyperlinks with the appropriate query string values.
            See the logic in the 'Index' method in the 'StudentController' class under 'StudentController.cs', in the 'Controllers'
            folder.*@
        <th>
            @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            First Name
        </th>
        <th>
            @Html.ActionLink("Enrollment Date", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th></th>
    </tr>

    @*NOTE: Below is a 'foreach' loop which will iterate through all the 'Student' objects and will display the student's
        'LastName', 'FirstMidName', 'EnrollmentDate' & and links be able to edit, see the details, or delete that
        current student in the iteration. It will create 'table rows' (<tr>) for as many student objects are in the
        database model.*@
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstMidName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
