@*NOTE: The object I am passing in is a list of 'UserQuoteVm' objects. In order for this view to recognize
    that 'model' class (the 'UserQuoteVm' class), 'CarInsuranceQuoteDrill.ViewModel' needs to be used/imported.*@
@using CarInsuranceQuoteDrill.ViewModel
@model List<UserQuoteVm>

<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h5 class="m-0">Quotes</h5>
        </div>
        <div class="card-body">


            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID#</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email Address</th>
                        <th scope="col">Quote</th>
                        <th scope="col">Date & Time
                        <th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var userQuote in Model)
                    {
                        <tr>
                            <th scope="row">@userQuote.Id</th>
                            <td>@userQuote.FirstName</td>
                            <td>@userQuote.LastName</td>
                            <td>@userQuote.EmailAddress</td>
                            <td>$@userQuote.GeneratedQuote dollars</td>
                            <td>@userQuote.DateAndTime</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

